.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 18px;
  height: 18px;
  border: 1px;
  border-style: solid;
  border-color: grey;
}

.tetromino {
  background-color: green !important;
  border-color: green !important;
}
